<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baseball</key>
	<dict>
		<key>Men</key>
		<array>
			<string>baseball</string>
			<string>http://rpiathletics.com/roster.aspx?path=baseball</string>
			<string>http://rpiathletics.com/rss.aspx?path=baseball</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=baseball</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_313.aspx?path=baseball</string>
			</array>
		</array>
	</dict>
	<key>Basketball</key>
	<dict>
		<key>Men</key>
		<array>
			<string>mbball</string>
			<string>http://rpiathletics.com/roster.aspx?path=mbball</string>
			<string>http://rpiathletics.com/rss.aspx?path=mbball</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=mbball</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_337.aspx?path=mbball</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>wbball</string>
			<string>http://rpiathletics.com/roster.aspx?path=wbball</string>
			<string>http://rpiathletics.com/rss.aspx?path=wbball</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=wbball</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_468.aspx?path=wbball</string>
			</array>
		</array>
	</dict>
	<key>Cross Country</key>
	<dict>
		<key>Men</key>
		<array>
			<string>mcross</string>
			<string>http://rpiathletics.com/roster.aspx?path=mcross</string>
			<string>http://rpiathletics.com/rss.aspx?path=mcross</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=mcross</string>
			<array>
				<string></string>
				<string></string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>wcross</string>
			<string>http://rpiathletics.com/roster.aspx?path=wcross</string>
			<string>http://rpiathletics.com/rss.aspx?path=wcross</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=wcross</string>
			<array>
				<string></string>
				<string></string>
			</array>
		</array>
	</dict>
	<key>Football</key>
	<dict>
		<key>Men</key>
		<array>
			<string>football</string>
			<string>http://rpiathletics.com/roster.aspx?path=football</string>
			<string>http://rpiathletics.com/rss.aspx?path=football</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=football</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_328.aspx?path=football</string>
			</array>
		</array>
	</dict>
	<key>Golf</key>
	<dict>
		<key>Men</key>
		<array>
			<string>golf</string>
			<string>http://rpiathletics.com/roster.aspx?path=golf</string>
			<string>http://rpiathletics.com/rss.aspx?path=golf</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=golf</string>
			<array>
				<string></string>
				<string></string>
			</array>
		</array>
	</dict>
	<key>Hockey</key>
	<dict>
		<key>Men</key>
		<array>
			<string>hockey</string>
			<string>http://rpiathletics.com/roster.aspx?path=hockey</string>
			<string>http://rpiathletics.com/rss.aspx?path=hockey</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=hockey</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_351.aspx?path=hockey</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>whock</string>
			<string>http://rpiathletics.com/roster.aspx?path=whock</string>
			<string>http://rpiathletics.com/rss.aspx?path=whock</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=whock</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/index.aspx?tab=icehockey&amp;path=whock</string>
			</array>
		</array>
	</dict>
	<key>Indoor Track</key>
	<dict>
		<key>Men</key>
		<array>
			<string>indoortrack</string>
			<string>http://rpiathletics.com/roster.aspx?path=indoortrack</string>
			<string>http://rpiathletics.com/rss.aspx?path=indoortrack</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=indoortrack</string>
			<array>
				<string>School Records</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_521.aspx?path=indoortrack</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>windoortrack</string>
			<string>http://rpiathletics.com/roster.aspx?path=windoortrack</string>
			<string>http://rpiathletics.com/rss.aspx?path=windoortrack</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=windoortrack</string>
			<array>
				<string>School Records</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_523.aspx?path=windoortrack</string>
			</array>
		</array>
	</dict>
	<key>Lacrosse</key>
	<dict>
		<key>Men</key>
		<array>
			<string>mlax</string>
			<string>http://rpiathletics.com/roster.aspx?path=mlax</string>
			<string>http://rpiathletics.com/rss.aspx?path=mlax</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=mlax</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_365.aspx?path=mlax</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>wlax</string>
			<string>http://rpiathletics.com/roster.aspx?path=wlax</string>
			<string>http://rpiathletics.com/rss.aspx?path=wlax</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=wlax</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_430.aspx?path=wlax</string>
			</array>
		</array>
	</dict>
	<key>Soccer</key>
	<dict>
		<key>Men</key>
		<array>
			<string>msoc</string>
			<string>http://rpiathletics.com/roster.aspx?path=msoc</string>
			<string>http://rpiathletics.com/rss.aspx?path=msoc</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=msoc</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_372.aspx?path=msoc</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>wsoc</string>
			<string>http://rpiathletics.com/roster.aspx?path=wsoc</string>
			<string>http://rpiathletics.com/rss.aspx?path=wsoc</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=wsoc</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_438.aspx?path=wsoc</string>
			</array>
		</array>
	</dict>
	<key>Swimming &amp; Diving</key>
	<dict>
		<key>Men</key>
		<array>
			<string>mswim</string>
			<string>http://rpiathletics.com/roster.aspx?path=mswim</string>
			<string>http://rpiathletics.com/rss.aspx?path=mswim</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=mswim</string>
			<array>
				<string>School Records</string>
				<string>http://rpiathletics.com/sports/2010/5/26/MSWIM_0526105544.aspx?path=mswim</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>wswim</string>
			<string>http://rpiathletics.com/roster.aspx?path=wswim</string>
			<string>http://rpiathletics.com/rss.aspx?path=wswim</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=wswim</string>
			<array>
				<string>School Records</string>
				<string>http://rpiathletics.com/sports/2010/5/26/WSWIM_0526105734.aspx?path=wswim</string>
			</array>
		</array>
	</dict>
	<key>Tennis</key>
	<dict>
		<key>Men</key>
		<array>
			<string>mten</string>
			<string>http://rpiathletics.com/roster.aspx?path=mten</string>
			<string>http://rpiathletics.com/rss.aspx?path=mten</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=mten</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_743.aspx?path=mten</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>wten</string>
			<string>http://rpiathletics.com/roster.aspx?path=wten</string>
			<string>http://rpiathletics.com/rss.aspx?path=wten</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=wten</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/9/9/WTEN_0909083021.aspx?path=wten</string>
			</array>
		</array>
	</dict>
	<key>Outdoor Track</key>
	<dict>
		<key>Men</key>
		<array>
			<string>mtrack</string>
			<string>http://rpiathletics.com/roster.aspx?path=mtrack</string>
			<string>http://rpiathletics.com/rss.aspx?path=mtrack</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=mtrack</string>
			<array>
				<string>School Records</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_522.aspx?path=mtrack</string>
			</array>
		</array>
		<key>Women</key>
		<array>
			<string>wtrack</string>
			<string>http://rpiathletics.com/roster.aspx?path=wtrack</string>
			<string>http://rpiathletics.com/rss.aspx?path=wtrack</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=wtrack</string>
			<array>
				<string>School Records</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_524.aspx?path=wtrack</string>
			</array>
		</array>
	</dict>
	<key>Field Hockey</key>
	<dict>
		<key>Women</key>
		<array>
			<string>fhockey</string>
			<string>http://rpiathletics.com/roster.aspx?path=fhockey</string>
			<string>http://rpiathletics.com/rss.aspx?path=fhockey</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=fhockey</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_320.aspx?path=fhockey</string>
			</array>
		</array>
	</dict>
	<key>Softball</key>
	<dict>
		<key>Women</key>
		<array>
			<string>softball</string>
			<string>http://rpiathletics.com/roster.aspx?path=softball</string>
			<string>http://rpiathletics.com/rss.aspx?path=softball</string>
			<string>http://rpiathletics.com/mobile/index.aspx?path=softball</string>
			<array>
				<string>Stats</string>
				<string>http://rpiathletics.com/sports/2008/7/10/sidebar_401.aspx?path=softball</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
