<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>RPI Student Union</string>
		<string>The Rensselaer Union has been the center of campus life at Rensselaer Polytechnic Institute (RPI) since 1890. In its current home since 1967, and as one of the few student-managed unions in the United States, the Rensselaer Union is both a building and a student development program that includes over 175 recognized student organizations. </string>
		<real>42.7312</real>
		<real>-73.6753125</real>
	</array>
</array>
</plist>
